div {
  border-style: dotted;
}

p {
    margin: 4px;
}

.root {
    display: flex;
    margin: 10px;
  }
  
  .d0 {
    width: 460px;
    margin: 0;
  }
  
  .d1 {
    display: flex;
    margin: 0;
  }
  
  .d2 {
    margin: 5px 20px 5px 20px;
    width: auto;
    text-align: center;
  }
  
  .btn-back {
    padding: 20px;
    margin: 10px 0 10px 10px;
  }
  
  .i1 {
    width: 340px;
    text-align: left;
    padding: 6px;
  }
  
  .b2 {
    width: auto;
    padding: 8px 50px 9px 50px;
    background-color: #1c325f;;
  }
  
  .d3 {
    padding: 5px;
  }
  
  .d3 p {
    padding: 10px;
    margin: 5px;
  }
  
  .d4 {
    padding: 5px;
    width: auto;
  }

  .w-item {
    border-color: rgb(99, 99, 99);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;  
  }

  .w-item-selected {
    border-color: rgb(99, 99, 99);
    border-width: 1px;
    border-style: solid;
    background-color: #164e34;
    cursor: pointer;  
  }